@import './vars.scss';

@font-face {
    font-family: 'myfont';
    src: url('/fonts/raustila-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: 'myfont';
    font-size: 6rem;
}
